:root {
  --Purple700: hsl(257, 40%, 49%);
  --Magenta400: hsl(300, 69%, 71%);
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
  src: url("/assets/fonts/Poppins-Medium.ttf")
  format("truetype") ;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
  format("truetype");
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--Purple700);
  background-image: url("/images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 100vh;
}
@media (max-width: 1024px) {
  body{
    background-image: url("/images/bg-mobile.svg");
  }
}