.footer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
footer a:link {
    color: pink;
}
footer a:visited {
    color: hotpink;
}
@media (max-width: 1024px) {
    .footer{
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}