.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    width: 50vw;
}
.img svg{
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 0 3rem;
    }
}

