apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml

images:
  - name: huddle-landing-page-with-single-introductory-section-app
    newName: huddle-landing-page-with-single-introductory-section-app
    newTag: latest
