.footer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer a:link {
    color: pink;
}
footer a:visited {
    color: hotpink;
}