.socialIcons{
    display: flex;
    margin: auto 0 0 0;
    justify-content: flex-end;
    padding-right: 4rem;
}
@media (max-width: 1024px) {
    .socialIcons {
        padding-right: 3rem;
    }
}
@media (max-width: 768px) {
    .socialIcons {
        justify-content: center;
        padding-right: 0;
        margin-top: 2rem;
        width: 100%;
    }
    .facebook svg,
    .twitter svg,
    .instagram svg {
        width: 40px;
        height: 40px;
    }
}