.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
    margin: 4rem;
}
.img{
    width: 50vw;
}
.img svg{
    width: 100%;
    height: 100%;
}
.logo{
    align-self: flex-start;
    width: 17rem;
}
@media (max-width: 1024px) {
    .left {
        margin: 3rem;
        gap: 4rem;
    }
    .img {
        width: 45vw;
    }
    .logo{
        align-self: flex-start;
        width: 10rem;
    }
}
@media (max-width: 768px) {
    .left{
        width: 100%;
        margin: 2rem 0;
        align-items: center;
        text-align: center;
        gap: 3rem;
    }
    .img {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
    .img svg {
        height: auto;
    }
}